body {
	font-family: Open Sans, arial, sans-serif;
	color: white;
	font-size: 14px;
}
a:link {
  color: #CDCCCC !important;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #CDCCCC;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white !important;
  background-color: transparent;
  text-decoration: none !important;
}

a:active {
  color: #CDCCCC;
  background-color: transparent;
  text-decoration: none;
}
.projcard-container {
	margin: 5% 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
	box-sizing: border-box;
}
.projcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.projcard {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #0E0C0A ; 
	/* border: 2px solid #800020; */
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.projcard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, black , transparent 50%);
	opacity: 0.07;
}
.projcard::before {
	background-image: linear-gradient(-250deg, black, transparent 50%);
}
.projcard-innerbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.projcard-img {
	position: absolute;
	height:100% ;
	max-width:100% ;
	top: 0;
	left: 0;
	transition: transform 0.2s ease;
}
.projcard, .projcard-img {
	left: initial;
	right: 0;
}
.projcard:hover .projcard-img {
	transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
	width: 70px;
}
.projcard-textbox {
	position: absolute;
	top: 7%;
	bottom: 7%;
	left: 5%;
	font-size: 17px;
	width: calc(100% - 10%);
}
.projcard-textbox * {
	position: relative;
}
.projcard-title {
	display: inline-block;
	color: #CDCCCC ;
	background: rgba(14,12,10,0.5) ;
    border-radius: 20px; 
    font-family: Voces, Open Sans, arial, sans-serif;
	font-size: 24px;
}
.projcard-subtitle {
	display: inline-block;
	color: #CDCCCC ;
	background: rgba(14,12,10,0.5) ;
    border-radius: 20px; 
    font-family: Voces, Open Sans, arial, sans-serif;
}
.projcard-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: black;
	transition: width 0.2s ease;
}
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #808080, transparent 50%); }
.projcard-red::before { background-image: linear-gradient(-250deg, #808080, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
	z-index: 10;
	font-size: 15px;
	color: #888;
	height: 125px;
	overflow: hidden;
	
    text-overflow: ellipsis;
    width: calc(100% - 10%);
}
.projcard-tagbox {
	position: absolute;
	bottom: 3%;
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
}
.projcard-tag {
	display: inline-block;
	background: #CDCCCC ;
	color: #0E0C0A ;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
}
.projcard-tag::before {
	content: ;
	position: absolute;
	background: #CDCCCC ;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}
.projcard-tag::after {
	content: ;
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #0E0C0A ;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}
